div#userInfo{
	display: inline-block;
	font-size: 15px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	float: left;
}

div.calendar{
	/*display: inline-block;*/
	font-size: 15px;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	/*margin: auto;*/
	width: 100%;
	/*float: left;*/
}

/*div.calendar div.head{
	border: 1px solid black;
	padding: 5px;
	text-align: center;
}*/
div.calendar p#month{
	text-align: center;
	font-size: 24px;
}
div.head button#prev{
	float: left;
}
div.head button#next{
	float: right;
}
div.calendar table{
	width: 100%;
	border: 1px solid black;
	table-layout: fixed;
}
div.calendar th{
	border: 1px solid black;
	/*width: 150px;*/
	text-align: center;
	font-size: 20px;
}
div.calendar td{
	border: 1px solid black;
	overflow: hidden;
	/*width: 150px;
	height: 100px;*/
	text-align: left;
}