

/*found on w3schools.com*/

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

h2 {
    text-align: center;
    color: #1abc9c;
}

h3 {
    text-align: left;
    color: #a5f3e3;
}

table {
    width: 100%;
    /*border: 1px solid #ccc;*/
    table-layout: fixed;
    
}
td {
    width: 13.6%;
    height: 100px;
    text-align: left;
    border: 1px solid #ccc;
}

th {
    border: 1px solid #ccc;
    text-align: center;
}

tr {
    height: 5%;
}

/* Month header */
.month {
    padding: 40px 25px;
    width: 96.5%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.dates {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.dates tr td {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.dates td .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}